.input {
	background-color: rgba(237, 237, 237, 0.7);
	border-radius: 5px;
	padding: 10px;
	color: #000;
	transition: all 0.2s ease;
}

.input:focus,
.input:active {
	caret-color: #000;
}

.input:hover {
	background-color: #ededed;
}

.input::placeholder {
	color: rgba(0, 0, 0, 0.5);
}

.error {
	background-color: rgba(219, 57, 57, 0.3);
}

.error:hover {
	background-color: rgba(219, 57, 57, 0.3);
}

.helper_text {
	color: #e36464;
	line-height: 14px;
	font-weight: 300;
	font-size: 14px;
	padding-left: 10px;
}
